
.instances {
	max-width: 3rem;
}

.inventoryTableLayout td, .inventoryTableLayout th {
	border: .05rem solid #e6e6e6;
}

.inventoryTableLayout th {
	background: #F5F7F7;
	font-weight: bold;
	text-transform: uppercase;;
	font-size: .8rem;
	padding:.5em;
}

.inventoryTableLayout td {
	word-wrap: break-word; 
}

.inventoryTableLayout td:first-child, .inventoryTableLayout td:nth-child(2), .inventoryTableLayout td:nth-child(3), .inventoryTableLayout td:nth-child(4), .inventoryTableLayout td:nth-child(5), .inventoryTableLayout td:nth-child(6), .inventoryTableLayout td:nth-child(7), .inventoryTableLayout td:nth-child(8), .inventoryTableLayout td:nth-child(9), .inventoryTableLayout td:nth-child(10), .inventoryTableLayout td:nth-child(11), .inventoryTableLayout td:nth-child(12) {
	padding:.5em;
}

{/* Data cell Instances */}
.inventoryTableLayout td:first-child {
	max-width: 10rem;
}
{/* Data cell UUID */}
.inventoryTableLayout td:nth-child(2) {
	max-width: 10rem;
}
{/* Data cell HOST */}
.inventoryTableLayout td:nth-child(3) {
	max-width: 5rem;
}
{/* Data cell Tenant */}
.inventoryTableLayout td:nth-child(4) {
	max-width: 12rem;
}
{/* Data cell Memory */}
.inventoryTableLayout td:nth-child(5) {
	max-width: 3rem;
}
{/* Data cell CPUS/Disk */}
.inventoryTableLayout td:nth-child(6) {
	max-width: 3rem;
}
{/* Data cell PROD IP */}
.inventoryTableLayout td:nth-child(7) {
	max-width: 7.5rem;
}
{/* Data cell PPP IP */}
.inventoryTableLayout td:nth-child(8) {
	max-width: 6rem;
}
{/* Data cell Image Name */}
.inventoryTableLayout td:nth-child(9) {
	max-width: 7rem;
}
{/* Data cell Status */}
.inventoryTableLayout td:nth-child(10) {
	max-width: 7rem;
}
{/* Data cell TASK */}
.inventoryTableLayout td:nth-child(11) {
	max-width: 4rem;
}
{/* Data cell Date Created */}
.inventoryTableLayout td:nth-child(12) {
	max-width: 8rem;
}
