.mainContent {
	min-height: 30rem;
	padding: 8em 0 2em 0;
	color: #1E1E1E;
}

.contentPadding {
	padding: 3em 10em 3em 10em;
	max-width: 60em;
	margin: 0 auto;
}

.whiteBg {
	background-color: white;
}


.pageIntro {
  font-size: large;
}