{/* Styles for portfolio listing page */}

.portfolioPage {
	background-color: #EEEEEE;
	margin: 0 auto ;
	text-align: center;
}

.portfolioPage .mainContent {
	margin: 0 2em 0 10em
}


.portfolioItem h2 {
	font-size: 2.2em;
	margin-top: 0;
}

.portfolioItem p {
	font-size: 1.4em;
	max-width: 30em;
}

.portfolioItem .txt div:first-child {
	margin: 0;
}


{/* Global Styles across each portfolio information page */}

.portfolioItemLandingImg {
	max-height: 40em;
	overflow: hidden;
}

.portfolioItemLandingImg img{
 width: 100%;
}

.portImgFrame {
	background-color: #EFEFEF; 
	text-align: center;
}

.portImgFrame img {
	width: 100%;
	max-width: 90em;
	margin: 0 auto;
}

{/* Global Responsive images across portfolio pages */}

.responsiveImgs {
	text-align: center;
	padding-bottom: 5em;
}

.responsiveImgs img {
	display: inline;
	margin: 0 auto;
	vertical-align: top;
}

img.responsiveTablet {
	max-width: 35em;

	margin-right: 2em;
}
img.responsiveMobile {
	max-width: 15em;
}




