{/* Styles for portfolio listing page */}

.portfolioPage {
	background-color: #EEEEEE;
	margin: 0 auto ;
	text-align: center;
}

.portfolioPage .mainContent {
	margin: 0 2em 0 10em
}


.portfolioItem h5 {
	font-size: 2.2em;
	margin-top: 0;
}

.portfolioItems {
	margin: 0 auto;
	text-align: center;
	max-width: 100em;
	display: flex;
	flex-wrap: wrap;
}
.portfolioItem {
	max-width: 28em;
	margin: 1em;
	padding: 0;
	flex-grow: 1;
  width: 33%;
}

.portfolioItem div:first-child {
	padding: 0 !important;
	margin: 0 auto;
}

.portfolioItem .img {
		display: block;
		width: 100%;
		height: 100%;
		min-width: 28em;
		margin: 0;
		padding: 0;
}

.portfolioItem .txt {
	background-color: rgba(0,0,0,.3);
	color: rgba(255,255,255,.9);
	margin-top: -5em;
	z-index: 999;
	position: relative;
	padding: 0;
}
.portfolioItem .txt h5 {
	font-size: 1.1em !important;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	margin: 0;
	font-weight: 400 !important;
}

.portfolioItem:hover .txt  {
	color: white;
}


{/* Global Styles across each portfolio information page */}

.portfolioItemLandingImg img{
 width: 100%;
}

.portImgFrame {
	background-color: #EFEFEF; 
	text-align: center;
}

.portImgFrame img {
	width: 100%;
	max-width: 90em;
	margin: 0 auto;
}

{/* Global Responsive images across portfolio pages */}

.responsiveImgs {
	text-align: center;
	padding-bottom: 5em;
}

.responsiveImgs img {
	display: inline;
	margin: 0 auto;
	vertical-align: top;
}

img.responsiveTablet {
	max-width: 35em;

	margin-right: 2em;
}
img.responsiveMobile {
	max-width: 15em;
}




