footer {
	clear: both;
    background-color: #f8f8f8;
    color: #666;
    font-size: .9em;
    padding: 2em 0;
}

footer section {
	margin: 0 auto;
	padding: 2em 0 0 10em;
}

footer p span {
 color: #FF2B6C;
}

.footerLogo {
	width: 10em;
}
