html{
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
	color: #1E1E1E;
}

body {
	margin: 0;
  background: #EEEEEE !important;
}

a {
  text-decoration: none;
  color: #C00B5B; 
}
a:hover {
  color: #e4106e;
}

h1, h2, h3, h4 {
	color: #49616C;
  font-weight: 300;
}

h2 {
}

p {
}

.App {
}

