html{
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
	color: #3e3e3e;
}

body {
	margin: 0;
  background: #EEEEEE !important;
}

a {
  text-decoration: none;
  color: #C00B5B; 
}
a:hover {
  color: #e4106e;
}

h1, h2, h3, h4 {
	color: #49616C;
  font-weight: 600;
}

h1 {
  font-size: 4em;
  text-transform: capitalize;
  font-family: "Times New Roman", Times,serif;
}

h2 {
  font-size: 2.5em;
  text-transform: capitalize;
  font-family: "Times New Roman", Times,serif;
}
h2 small {
  font-family: "Roboto", sans-serif;
  text-transform: none !important;
}

h3 {
  font-size: 1.9em;
  font-weight: 400;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
}

p {
  font: normal 400 1.2em/1.6em Roboto;
  margin: 1.8em 0;
}

q {
  color: #853962;
}

img {
  width: 100%;
  display: block;
}

a.siteButton  {
  border: 2px solid rgba(255,255,255,.7);
  border-radius: 7em;
  padding:.7em 1em;
  color: rgba(255,255,255,.7);
  font-size: 1.2em;
} 
a.siteButton:hover {
  color: rgba(255,255,255,1);
  border: 3px solid rgba(255,255,255,1);
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.02); }
